<p id="notice"><%= notice %></p>
<iframe src="http://player.vimeo.com/video/ <%= @video.videoid %>?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>
  <b>Category:</b>
  <%= @video.category.name %>
</p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Tags:</b>
  <%= @video.tags %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>videoid:</b>
  <%= @video.videoid %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
